.player {
  width: 100%;
  height: 90px;
  background-color: #1d1d1d;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-player {
  width: 95%;
  display: flex;
  justify-content: space-around;
}


.button {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}

.range {
  transition: 0.100s;
  width: 70%
}

.container-control {
  display: flex;
}

.container-playlist {
  width: 25%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song {
  /* margin-top: 10px;
    background-color: #f1f1f1;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 18%); */
    margin-left: 10px;
    color: #5f5c5c;
    font-size: 12px;
    text-transform: uppercase;
}

.container-song {
  display: flex;
  width: 85%;
  padding: 10px;
  align-items: center;
  margin-top: 10px;
  transition: 0.4s;
  border: none;
  cursor: pointer;
}

.container-song:hover {
  transform: scale(1.01);
}

img {
  width: 200px;
  height: 100px;
  object-fit: contain;
}

.song-active {
  background-color: hsl(0deg 0% 0%);
}

.container-song-active {
  display: flex;
  width: 85%;
  padding: 10px;
  align-items: center;
  margin-top: 10px;
  background: hsl(0deg 0% 0%);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.song-active {
  color: white;
  margin-left: 10px;
}

button:focus {outline:0;}